.tooling-project/cached/employee-details-api-impl/src/main/mule/main.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd">

    <!-- ==================== Main API Flow ==================== -->
    <flow name="employee-details-api-main-flow"
          doc:name="Employee API Main Flow"
          doc:description="Main entry point for the Employee Details API. Receives all HTTP requests and routes them via APIKit Router.">

        <http:listener
            config-ref="employee-api-http-listener-config"
            path="/api/*"
            doc:name="HTTP Listener"
            doc:description="Listens for all inbound HTTP requests on /api/* and delegates routing to the APIKit Router">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>

        <apikit:router
            config-ref="employee-details-api-config"
            doc:name="APIKit Router"
            doc:description="Routes incoming requests to the appropriate implementation flow based on HTTP method and resource path defined in the RAML spec" />

    </flow>

    <!-- ==================== API Console Flow ==================== -->
    <flow name="employee-details-api-console-flow"
          doc:name="Employee API Console Flow"
          doc:description="Serves the APIKit API Console (interactive API documentation) at /console/*">

        <http:listener
            config-ref="employee-api-http-listener-config"
            path="/console/*"
            doc:name="HTTP Listener - Console"
            doc:description="Listens for requests to the API Console endpoint at /console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>

        <apikit:console
            config-ref="employee-details-api-config"
            doc:name="APIKit Console"
            doc:description="Renders the interactive API console for the Employee Details API specification" />

    </flow>

</mule>